// Variables

$base-color: #c6538c;
$base-dark: rgba($base-color, 0.88);
$font: "Open Sans", sans-serif;

//

body {
  font-family: $font;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 100px;
  place-items: center;
}

a,
a:focus,
a:hover,
a:visited {
  text-decoration: none;
  color: inherit;
}

.logo {
  height: 70px;
  background-color: transparent;
}

main {
  height: 70vh;
  box-shadow: 1px 2px 8px grey;
}

.links {
  display: block;
  margin: 20px 0;
  &:hover,
  &:focus {
    opacity: 0.5;
  }
}

.social {
  display: inline;
  height: 20px;
  width: 20px;
  margin: 5px;
  &:hover,
  &:focus {
    opacity: 0.5;
  }
}

.menu {
  height: 40px;
  padding-left: 50px;
  &:hover,
  &:focus {
    opacity: 0.5;
  }
}

.sidebar {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  place-items: center;
  z-index: 10;
  top: 0;
  left: -100%;
  background-color: rgb(246, 249, 251);
  height: 100%;
  transition: 1s ease-in-out;
  width: 200px;

  button {
    background-color: transparent;
    border: none;
    color: rgb(250, 113, 113);
    font-size: 12px;
    font-weight: 900;
    &:hover,
    &:focus {
      color: rgb(214, 3, 3);
    }
  }
}
